
body {
    background-color: black;
  }

pre {
  float: right;
  margin-right: 400px;
  color: whitesmoke;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

ul {
  float: right;
  margin-right: 400px;
  color: whitesmoke;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a {
  color: rgba(255, 255, 255, 0.71);
}

button {
  all: unset;
  cursor: pointer;
}